<div class='span12'>
  <div class="subheader">
    <h4 class='pull-left'>Edit Review</h4>
  </div>
  <div id='wrapper'>
    <div id='scroller'>
      <div style="text-align:center;margin-top:10px">
        <%Review.current_review.stars.to_i.times do |i|%>
          <div id='star<%=i%>' class="glyphicon glyphicon-star padd-star"></div>
        <%end%>
        <%(Review.current_review.stars.to_i..4).each do |i|%>
          <div id='star<%=i%>' class="glyphicon glyphicon-star-empty padd-star"></div>
        <%end%>
        <div style="text-align:center;color:#555555">Tap a Star to Rate</div>
      </div>
      <form role="form" action="/app/Review/update" style='padding:0 5px 0 5px'>
        <input type='hidden' name='app_id' value='<%=@id%>' />
        <div class="form-group" style="margin-top:10px">
          <input id='review-title' name='title' type='text' class='form-control' value='<%=Review.current_review.title%>'/>
        </div>
        <div class="form-group" style="margin-top:5px">
          <textarea id="review-desc" name='description' class="form-control" rows="12"><%=Review.current_review.description%></textarea>
        </div>
        <button type="submit" class="btn btn-default custom-form" data-back='/app/GalleryApp/show?id=<%=@id%>' style="margin-top:5px">Send</button>
      </form>
    </div>
  </div>
</div>
<script type='text/javascript'>
  basic_wrapper();
</script>